body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    color: #f9faf8
}

header {
    background: #1f2937;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    padding-left: 80px;
    font-size: 24px;
    font-weight:bolder;
}
.header-right {
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 80px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-weight:lighter;
}
.container-1 {
    background: #1f2937;
    display: flex;
    padding: 150px 100px;
    gap: 50px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
}

.container1-left {
    flex: 1 100%;
}

.container1-left > .description {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}
.container1-right {
    flex: 1 100%;
    background: #e5e7eb4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #3882f6;
    color: #e5e7eb;
    padding: 10px 30px;
    border-radius: 1em;
    border-style: none;
    margin-top: 10px;
}

.container-2 {
    padding: 40px;
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.card{
    flex: 0;
    color:#5353539a;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
}

.cardbox {
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    width: 125px;
    height: 125px;
    border-radius: 1rem;
    border: 5px solid #3882f6;
}

.container-3 {
    background:#e5e7eb;
    color:#1f2937;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 100px 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.thor {
    margin-right: 10px;
    align-self: flex-end;
    font-weight: bold;
}

.container-4 {

    display: flex;
    justify-content: center;
    align-items: center;
}

.container4-inner {
    margin: 4rem;
    background:#3882f6;
    color:#f9faf8;
    width: 800px;
    border-radius: 10px;
    height: 100px;
    padding: 50px 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.container4-title {
    font-weight: bolder;
    font-size: 28px;
}

.container4-message{
    font-weight: light;
}

button {
    border: solid white 2px;
    border-radius: 10px;
    padding: 10px 30px;
}

footer {
    background: #1f2937;
    color:#f9faf8;
    padding: 50px;
    text-align: center;
    font-weight: lighter;
}